*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
   list-style-type: none;
}
body{
    background-color: #0F0F1E;
    color: #fff;
    font-size: 16px;

}
header{
    position: fixed;
    width: 90vw;
    top: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #00f7ff;
    text-shadow: 0 0 10px rgb(0, 247, 255, 0.5);
}
header nav ul{
    display: flex;
    gap: 40px;
}

header nav ul li{
   cursor: pointer;
   position: relative;
   padding: 5px 0;
}

header nav ul li::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #00f7ff;
    transition: width 0.5s ease;
}
header nav ul li:hover::after{
    width: 100%;
}
.container{
    height: 100vh;
    position: relative;
    background: linear-gradient(135deg, #0F0F1E,#1f1f3a 100%);
}
.container::before{
    content: "";
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, rgb(0,247,255,0.2));
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: blur(50px);
    z-index: 1;
    animation: pulse 4s infinite alternate;
}
@keyframes pulse{
    0%{
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.8);
    }
    100%{
        opacity: 1;
        transform: translate(-50%,-50%) scale(1.5);
    }
}

.list {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.item{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.active{
    opacity: 1;
}
.product-img{
    width: 45%;
}